.poster_section{
    padding-top: 700px;
}

.container-bottom{
    padding-bottom: 50px;
}

@media screen and (max-width: 720px) {
    .poster_section{
        padding-top: 300px;
        background-attachment: fixed !important;
        background-size: contain !important;
    }
}

@media screen and (max-width: 540px) {
    .poster_section{
        padding-top: 180px;
        background-attachment: scroll !important;
        background-size: contain !important;
    }
}

@media screen and (max-width: 420px) {
    .poster_section{
        padding-top: 180px;
        background-attachment: local !important;
        background-size: contain !important;
    } 
}
